p {
    font-size: 30px;
    color: aqua;
    text-shadow: 1px 2px 4px black;
}

.table {
    width: 80% !important;
}

.table td,
th {
    text-transform: capitalize;
    font-size: 15px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    vertical-align: middle;
    text-align: center;
    /* width: calc(100%)/6; */
}

img {
    border-radius: 8px;
}

.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.profile-pic:hover {
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

form input[type="file"] {
    display: none;
    cursor: pointer;
}